:root {
    --dark-blue: #1b263b;
    --medium-blue: #3b5998;
    --light-blue: #8ab6d6;
    --lighter-blue: #d4e6f1;
    --transparent: #000;
}

body {
    background-color: whitesmoke;
    padding: 0px;
}

footer {
    padding-top: 15px;
    background-color: #0ab6f7;
    overflow: hidden;
}


nav {
    background-color: #0ab6f7;
    font-family: Quicksand;
}

header {
    padding-bottom: 35px;
}

h4 {
    font-family: "Lato";
}

h2 {
    font-family: "Lato";
}

p {
    text-align: justify;
}

.row {
    padding-top: 5px;
    font-family: "Convergence";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.card {
    transition-duration: 2s;
    transition-delay: 1;
    opacity: 1;
}

.card img{
    opacity: 1;
}

.card-title{
    color: black;
}

.card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.card-text {
    transform: translateY(35px);
}

.card:hover img{
    transition: transform 1s ease;
    transform: scale(1.05); /* Escala la imagen al pasar el cursor */
    opacity: 0.8;
}

.card:hover .card-text{
    transition: transform 1s ease;
    display: block;
    transform: translateY(0px);
    color: black;
}

.logo {
    height: 50px;
}

.card {
    overflow: hidden;
    border-radius: 15px;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
    object-position: 60% 40%;
}


.menu-toggle {
    display: none;
}

@media (max-width: 767px) {
    .menu-toggle {
        display: block;
    }
    
    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
    }
}

/* menú */  

/* Añade el CSS para el efecto hover en los enlaces del menú */
.nav-link {
    text-decoration: none;
    color: white;
    position: relative;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 1s;
    position: absolute;
    left: 0;
}

.nav-link:hover::after {
    width: 100%;
}

.list-group-item {
    border-radius: 10px;
}

.fondo {
    background-color: #f0f0f0; /* Color de fondo */
    padding: 3px; /* Espacio interno alrededor del texto */
    display: inline-block; /* Ajustar el ancho del fondo al texto */
    border-radius: 10px; /* Bordes redondeados */
}